@import "tailwindcss";

:root {
    --background: #000411;
    --element-background: rgba(0, 0, 0, 0.5);
    --hover: rgba(255, 255, 255, 0.1);
    --border: rgba(255, 255, 255, 0.2);
}

body {
    background-color: var(--background);
    color:white;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    width: 65%;
    aspect-ratio: 1086 / 1230;
    background-image: url("./assets/misis-cover.webp");
    background-size: cover;
}

.markup-layout {
    padding-inline: 15px;
}
